body {
  font-family: "Trirong", serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
.name-highlight {
  color: blueviolet;
}
.half-width img {
  width: 500px;
  border-radius: 250px;
  margin-top: 15px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 66px;
  padding-left: 24px;
}
.top-banner {
  background-image: url("/images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 450px;
}
